<!-- TRMNL Salah Prayer Times Plugin Markup - Half Vertical View Optimized -->
<div class="view view--half_vertical">
  <!-- Header Section -->
  <div class="title title--small">Salah Times</div>

  <!-- Prayer Times Section - Compact layout for half vertical view -->
  <div class="flex gap--small">
    <div class="flex flex--col flex--1">
      <!-- Left column -->
      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Fajr' or IDX_0.enhancedData.nextPrayer == 'Fajr (Tomorrow)' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Fajr</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Fajr | slice: 0, 5 }}</span>
        </div>
      </div>

      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Sunrise' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Sunrise</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Sunrise | slice: 0, 5 }}</span>
        </div>
      </div>

      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Dhuhr' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Dhuhr</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Dhuhr | slice: 0, 5 }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex--col flex--1">
      <!-- Right column -->
      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Asr' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Asr</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Asr | slice: 0, 5 }}</span>
        </div>
      </div>

      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Maghrib' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Maghrib</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Maghrib | slice: 0, 5 }}</span>
        </div>
      </div>

      <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Isha' %}item--highlight{% endif %}">
        <div class="content">
          <span class="label label--small">Isha</span>
          <span class="value value--small value--tnums">{{ IDX_0.data.timings.Isha | slice: 0, 5 }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Next Prayer Information - Compact -->
  <div class="layout layout--center">
    <div class="flex flex--col gap--small">
      <span class="label label--small label--highlight">Next: {{ IDX_0.enhancedData.nextPrayer }}</span>
      <span class="label label--small">In {{ IDX_0.enhancedData.timeUntilNextPrayer.hours }}h {{ IDX_0.enhancedData.timeUntilNextPrayer.minutes }}m</span>
    </div>
  </div>

  <!-- Hijri Date Section - Compact -->
  <div class="layout layout--center">
    <span class="label label--small label--underline">{{ IDX_0.enhancedData.hijriDateFormatted }}</span>
  </div>

  <!-- Title Bar -->
  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/plugins/private_plugin.svg" />
    <span class="title">Salah Times</span>
    <span class="instance">{{ IDX_0.data.meta.timezone }}</span>
  </div>
</div>
