<!-- TRMNL Salah Prayer Times Plugin Markup - Half Horizontal View Optimized -->
<div class="view view--half_horizontal">
  <!-- Header Section -->
  <div class="title title--small">Salah Times</div>

  <!-- Prayer Times Section - Horizontal layout optimized -->
  <div class="flex flex--wrap gap--small">
        <!-- First row -->
        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Fajr' or IDX_0.enhancedData.nextPrayer == 'Fajr (Tomorrow)' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Fajr</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Fajr | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>

        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Sunrise' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Sunrise</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Sunrise | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>

        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Dhuhr' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Dhuhr</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Dhuhr | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>

        <!-- Second row -->
        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Asr' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Asr</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Asr | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>

        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Maghrib' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Maghrib</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Maghrib | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>

        <div class="item {% if IDX_0.enhancedData.nextPrayer == 'Isha' %}item--highlight{% endif %}">
          <div class="content">
            <div class="flex flex--between">
              <span class="label label--small">Isha</span>
              <span class="value value--small value--tnums">{{ IDX_0.data.timings.Isha | slice: 0, 5 }}</span>
            </div>
          </div>
        </div>
  </div>

  <!-- Next Prayer Information - Compact for horizontal view -->
  <div class="layout layout--center">
    <div class="flex gap--small item--center">
      <span class="label label--small label--highlight">Next: {{ IDX_0.enhancedData.nextPrayer }}</span>
      <span class="label label--small">In {{ IDX_0.enhancedData.timeUntilNextPrayer.hours }}h {{ IDX_0.enhancedData.timeUntilNextPrayer.minutes }}m</span>
    </div>
  </div>

  <!-- Title Bar -->
  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/plugins/private_plugin.svg" />
    <span class="title">Salah Times</span>
    <span class="instance">{{ IDX_0.data.meta.timezone }}</span>
  </div>
</div>
